<style>
    .h2{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body{
    background-color: rgb(128, 119, 119)
    }
</style>
<body>
    
    <div class="h2">
        <h2>El mail ha sido enviado exitosamente, chequea en tu casilla para continuar con el proceso de recuperación de contraseña</h2>
    </div>
    
</body>