<style>
    body {
        background-color: #333;
    }

    .login-container {
        max-width: 500px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        color: #333;
        border: 1px solid #bbb;
        background-color: #ccc;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }

    .containerbuttons{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .buttons{
        margin: 4%;
    }
    .radius{
        border-radius: 2rem;
    }
    .text{
        font-size: large;
        padding: 1rem;
    }
</style>


<div class="login-container">
    
    <h2><b>Recupero de contraseña</b></h2>

    <form action="/api/auth/restorepassword" method="post" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <p class="text">Ingresá tu mail y te enviaremos un mail para poder realizar el cambio de contraseña</p>
            
            <input type="email" name="email" class="form-control radius" placeholder="E-mail registrado" required="required" autofocus="autofocus">
        </div>

        
        {{#if showError}}
            <div class="alert alert-danger" role="alert" style="margin-top: 16px;">
                {{ errorMessage }}
            </div>
        {{/if}}

        <div class="containerbuttons">
            <button type="submit" class="btn btn-success buttons">Enviar</button>
            

            
        </div>

    </form>
</div>