<style>
    body {
        background-color: #ffffff;
    }

    .letras {
        color: #000000;
        padding-top: 1%;
        
    }
    .contenedor{
        margin-top: 3%;
    }
    .datos{
        font-size: large;
        padding-top: 2%

    }
    .recuadro{
        border: #000000 solid;
        

    }
    .espacio{
        width: 50%;
        height: 10%;
        margin-bottom: 3%;
        margin-top: 1%;
    }
    .espacio2{
        width: 72%;
        height: 10%;
        margin-bottom: 3%;
        margin-top: 1%;
    }
    .resaltar{
        font-size: medium;
        font-weight: bold;
        font-style: italic;
    }
    /* Estilos para el modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .separacion{
        margin-top: 5%;
    }

    
</style>

<div class="container">
    <div class="row contenedor">
        <div class="col">
            <h2 class="letras">Perfil de usuario {{login_type}}</h2>
        </div>
        <div class="col recuadro">
            <p class="datos">{{user.lastName}}, {{user.firstName}}</p>         
            <p class="datos">Mail: {{user.email}}</p>
        </div>
    </div>

    <br>
    {{!-- <form action="/api/uploads/profile" method="POST" enctype="multipart/form-data"></form> --}}
    <form id="uploadForm" enctype="multipart/form-data">

            <div class="row espacio">
                <p class="resaltar">Carga tu imagen de perfil desde acá:</p>
                <div class="col">
                    <input type="file"  class="btn" name="profileImage" multiple>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success">Cargar</button>
                </div>
            </div>
    </form>

    

    {{#if (eq user.role 'USER')}}
        <div class="row espacio2">
            <div class="col">

            <p class="resaltar">¿Querés volverte Premium y vender tus propios productos?</p>
            </div>
            <div class="col">

            <a href="/premiumDocs" class="resaltar"> Click aquí</a>
            </div>
        </div>
    {{/if}}
    {{#if (eq user.role 'PREMIUM')}}
        <form id="uploadProductForm" enctype="multipart/form-data">
            <div class="row espacio2">
                
                <p class="resaltar">Carga las imagenes de tus productos desde acá:</p>
                
                <div class="col">
                    <input type="file"  class="btn" name="productImages" multiple >
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success">Cargar</button>
                </div>
            </div>
        </form>    
    {{/if}}
    
    <form action="/products" method="put" class="separacion">
        <button type="submit" class="btn btn-success">Volver a la sección de productos</button>
    </form>

    <br>

    <form action="/api/auth/logout" method="get">
        <button type="submit" class="btn btn-success">Cerrar sesión</button>
    </form>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalText"></p>
        </div>
    </div>


    
</div>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        
        // Crear un objeto FormData
        const formData = new FormData(this);

        // Enviar la solicitud con Fetch API
        fetch('/api/uploads/profile', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Mostrar el mensaje en el modal
            const modal = document.getElementById('myModal');
            const modalText = document.getElementById('modalText');
            modalText.innerText = data.payload; // Mostrar la respuesta del servidor
            modal.style.display = "block";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // Cerrar el modal al hacer clic en la "x"
    document.querySelector('.close').addEventListener('click', function() {
        document.getElementById('myModal').style.display = "none";
    });

    // Cerrar el modal si el usuario hace clic fuera del contenido del modal
    window.addEventListener('click', function(event) {
        const modal = document.getElementById('myModal');
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });


       // Script para manejar la carga de imágenes de productos
    document.getElementById('uploadProductForm').addEventListener('submit', function(event) {
        event.preventDefault();

        // Crear un objeto FormData
        const formData = new FormData(this);

        // Enviar la solicitud con Fetch API
        fetch('/api/uploads/products', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
           
            const modal = document.getElementById('myModal');
            const modalText = document.getElementById('modalText');
            modalText.innerText = data.payload
            modal.style.display = "block";
            
        })
        .catch(error => {
            console.error('Error:', error);
            const modal = document.getElementById('myModal');
            const modalText = document.getElementById('modalText');
            modalText.innerText = "Ocurrió un error al intentar cargar las imágenes.";
            modal.style.display = "block";
            });
    });

    // Cerrar el modal al hacer clic en la "x"
    document.querySelector('.close').addEventListener('click', function() {
        document.getElementById('myModal').style.display = "none";
    });

    // Cerrar el modal si el usuario hace clic fuera del contenido del modal
    window.addEventListener('click', function(event) {
        const modal = document.getElementById('myModal');
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });
</script>
